<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/719259d3-fe99-4ca6-9cc8-fc6ffa5c50fa/resourceGroups/CityAppAPI/providers/Microsoft.Web/sites/CityAppREST</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://cityapprest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>cityapprest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CityAppREST</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CityAppREST</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>